* {
box-sizing: border-box;
}
 
*:focus {
	outline: none;
}
body {
font-family: Arial;
height: 100%;
background: linear-gradient(90deg, #00000 50%, #FFFFFF 50%);
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #fafafa;
padding: 20px;
border-radius: 5px
}
 
.app-title {
text-align: center;
color: #777;
}
 
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
 
input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #FFFFFF;
box-shadow: none;
}
 
.btn {
  background-image: linear-gradient(bottom, #000000 100%);
background-image: -o-linear-gradient(bottom, #000000 100%);
background-image: -moz-linear-gradient(bottom, #000000 100%);
background-image: -webkit-linear-gradient(bottom, #000000 100%);
background-image: -ms-linear-gradient(bottom, #000000 100%);
  border: 2px solid transparent;
  background: #000000;
  color: #000000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}
 
.btn:hover {
  *background-color: #2980B9;
  background-color: #000000;
}
 
.login-link {
  font-size: 12px;
  color: #000;
  display: block;
	margin-top: 12px;
}
