    <div class="navbar navbar-inverse navbar-static-top>
      <a href="/"><img src="/static/pan-logo-badge-green-dark-kick-up.png" alt="" style="width:150px;height:110px" width="150" height="110" class="img-thumbnail img-responsive" align="left"/></a>
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Home</a>
            <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Build</a>
                <ul class="dropdown-menu" role="menu">
                    <li data-submenu-id="submenu-ansible">
                       <a href="/ANSIBLE/automicinitcfg" class>Ansible</a>
                       <div id="submenu-ansible" class="popover">
                       </div>
                    </li>

                    <li data-submenu-id="submenu-kvm">
                       <a href="/KVM/automicinitcfg" class>KVM</a>
                       <div id="submenu-kvm" class="popover">
                       </div>
                    </li>
                    <li data-submenu-id="submenu-openstack">
                       <a href="/Openstack/automicinitcfg" class>Openstack</a>
                       <div id="submenu-openstack" class="popover">
                       </div>
                    </li>
                    <li data-submenu-id="submenu-aws">
                       <a href="/AWS/automicinitcfg" class>Amazon AWS</a>
                       <div id="submenu-aws" class="popover">
                       </div>
                    </li>
                    <li data-submenu-id="submenu-azure">
                       <a href="/azure/automicinitcfg" class>Microsoft Azure</a>
                       <div id="submenu--azure" class="popover">
                       </div>
                    </li>
                    <li data-submenu-id="submenu-esxi">
                       <a href="/ESXi/automicinitcfg" class>VMware ESXi</a>
                       <div id="submenu--esxi" class="popover">
                       </div>
                    </li>
                </ul>
              </li>
            </ul>
            </div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Deploy</a>
                <ul class="dropdown-menu" role="menu">
                    <li data-submenu-id="submemu-source-intelligence">
                        <a href="/list">Devices</a>
                        <div id="submenu-source-intelligence" class="popover">
                        </div>
                    </li>
                    <li data-submenu-id="submemu-source-intelligence">
                        <a href="/juju">JuJu Charm</a>
                        <div id="submenu-jujucharm" class="popover">
                        </div>
                    </li>
                    <li data-submenu-id="submemu-source-intelligence">
                        <a href="/juju">JuJu Charm</a>
                        <div id="submenu-source-intelligence" class="popover">
                        </div>
                    </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Monitor</a>
                <ul class="dropdown-menu" role="menu">
                    <li data-submenu-id="configuration">
                        <a href="/configuration">Configuration</a>
                </ul>
              </li>
            </ul>
          </div>
          <div class="container">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Connect</a>
                <ul class="dropdown-menu" role="menu">
                    <li data-submenu-id="nuage">
                        <a href="/connector/nuage/">Nuage</a>
                        <div id="submenu-connector-nuage" class="popover">
                        </div>
                    </li>
                    <li data-submenu-id="submemu-connector-openstack">
                        <a href="/connector/openstack/">Openstack</a>
                        <div id="submenu-source-intelligence" class="popover">
                        </div>
                    </li>
                </ul>
            </ul>
          </div>
          <div class="container">
          <div class="row">
          <div class="col-xs-12">
   <h1 class="text-center"><font color=#FFFFFF>Automic Automation</font> </h1>
          <right></right>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
        </div>
      </div>
    </div>

    </div>
