<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
       <title>Automic</title>
       <link rel="stylesheet" media="screen" href ="{{ url_for('static', filename='css/bootstrap.min.css') }}">
       <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>


<div class="container">
<br>

<div id="container">
   <div id="inner_container">
  <figure>
{% extends "/automicheat.html" %}
{% block content %} {{mgtip}} {{e1i}} {{e1i}} {% endblock %}
  </figure>
  </div>
</div>

</body>
</html>
