<!doctype html>
<html lang=''>
<head>
    <style>
        header {
            background-color: #f7f7f7;
        }
        .fit {
              max-width: 100%;
              max-height: 100%;
    }
    </style>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>MenuMaker</title>

   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="https://s3.amazonaws.com/menumaker/menumaker.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <br>
        <br>
        <br>
        <br>
        <br>
<!--<img class="fit" src="/Users/miclark/Downloads/menumaker4/images/automiclogo.png">-->

<div id="cssmenu">
  <ul>
     <li><a href="#" target="_blank"><i class="fa fa-fw fa-home"></i> Home</a></li>
     <li><a href="#"><i class="fa fa-fw fa-edit"></i> Build</a>
        <ul>
           <li><a href="#">VMware ESXi</a></li>
           <li><a href="#">Amazon AWS</a></li>
           <li><a href="#">Microsoft Azure</a></li>
           <li><a href="#">Google GCP</a></li>
           <li><a href="#">Openstack</a></li>
           <li><a href="#">KVM</a></li>
        </ul>
     </li>
     <li><a href="#"><i class="fa fa-fw fa-cogs"></i> Deploy</a>
        <ul>
           <li><a href="#">Openstack</a></li>
           <li><a href="#">Amazon AWS</a></li>
        </ul>
     </li>
     <li><a href="#"><i class="fa fa-fw fa-binoculars"></i> Monitor</a></li>
  </ul>
</div>
    </header>
<div>
<img class="fit" src="/Users/miclark/Downloads/menumaker4/images/automic.png">
</div>
</body>
</html>
